body {
	background-color: #000800;
	font-family: Times, Times, serif;
}

h1 {
	color: white;
	font-family:Freestyle Script, Century, Rockwell;
	font-size: 40px;
	text-align: center;
}
header h1 {margin: 0;}


section {
	background-color: #0E3B0E;
	width: 900px;
	margin:0 auto;
}

#main {
	display: inline-block;
	background-color: #001B00;
	width: 685px;
	color: white;
	margin: 0;
	padding: 10px;
}

footer {
	color: white;
	clear:both;
	text-align: center;
}

nav {
	display: inline-block;
}

nav a {
	display: block;
	text-decoration: none;
	border: white;
	width: 165px;
	padding: 0px 10px;
	color: white;
}
nav a:hover, nav a.current{
	background-color: #25AB03;
}